/* Import all styles */
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

[class*="display-"] {
  font-family: 'Source Serif Pro', serif;
}



.container {
  max-width: 768px;
}

section.intro {
  margin-top: 15rem;
}


@media (max-width:400px) {
  .col-6 {
    width: 100%;
  }
}
